/* style for daftar.html */

html {
  height: 100%;
}
body {
  overflow-y: scroll;
  height: 100%;
}

body.active {
  overflow-y: hidden;
}
.navbar {
  background-color: #38b6ff;
  /* position: relative !important; */
  z-index: 4;
}

.navs {
  /* margin-left: -30px; */
  background-color: rgb(255, 255, 255);
  height: 100vh !important;
  position: fixed !important;
  z-index: 10;
  top: -1px;
  left: 0;
}

.navs {
  margin-left: -1000px;
  transition: 0.3s;
  opacity: 0;
}

.navs.active {
  margin-left: 0px;
  opacity: 1;
}

.sidenav {
  background-color: #38b6ff;
}

.menu i,
.menu a {
  font-size: 19px;
  color: #38b6ff;
}

.gambar {
  width: 70px;
  height: 70px;
}

.aktiv {
  background-color: #38b6ff67;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.322);
  display: none;
  z-index: 9;
}

.backdrop.active {
  display: block;
}

.daftar {
  min-height: 100%;
  padding: 50px 0 70px 0;
}

.daftar .card {
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.178);
}

.card .childIcon {
  width: 60px;
  height: 60px;
}

.lihat {
  background-color: #38b6ff;
}

#views {
  display: none;
}

.footer1 {
  background-color: #38b6ff;
  z-index: 4;
}

.kartu {
  margin-top: 20px !important;
}

.daftar {
  z-index: 4;
}

.tambah {
  position: fixed;
  right: 10px;
  bottom: 80px;
  background-color: #38b6ff;
}

.tambah i {
  font-size: 22px;
}

.font p,
.font i {
  font-size: 14px !important;
}
